<footer class="footer_area p_120">
  <div class="container3">
    <div class="col-lg-1">
      <div class="row footer_inner">
        <div class="f_title">
          <h3>SOBRE O AUTOR </h3>
        </div>
        <p>Dorlan G. S. da Costa é Economista formado pela Universidade Federal de Santa Catarina, possui Mestrado em Economia também pela UFSC.
          Concursado, trabalhou brevemente como Economista no CIDASC, sendo chamado na sequência para trabalhar na empresa CELESC, onde atua há nove anos como Economista.  </p>
        <p>
          Copyright &copy;
          <script>document.write(new Date().getFullYear());</script> All rights reserved
        </p>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="row footer_inner">

        <div class="f_title">
          <h3>CONTATO</h3>
        </div>
        <p>SIGA NOSSAS REDES SOCIAIS</p>
        <ul class="list">
          <i class="lnr lnr-screen"><img src="assets/img/icons-facebook.svg"></i>
          <i class="lnr lnr-screen"><img src="assets/img/icons-instagram.svg"></i>
          <i class="lnr lnr-screen"><img src="assets/img/icons-linkedin.svg"></i>
          <i class="lnr lnr-screen"><img src="assets/img/icons-whatsapp.svg"></i>



        </ul>
      </div>
    </div>
  </div>
</footer>
