<body>
  <section class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="banner-content">
          <h3>
            We've made a life
            <br>
            that will change you
          </h3>
          <h6>
            We are here to listen from you deliver exellence
          </h6>
        </div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp or incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
        </p>

        <a class="main-btn" href="#">Começar Agora</a>


      </div>

      <div class="col-lg-5">

        <div class="home-left-img">
          <img class="img-fluid" src="../assets/img/grafic2.png">
        </div>
      </div>
    </div>
  </section>
</body>
