<app-header></app-header>
<body>
  <section>
    <div class="row">
      <div class="col-lg-1">
        <div class="banner-content">
          <h2>
            Mass People Oriented
            <br>
            Software
          </h2>
        </div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim. sed do eiusmod tempor incididunt.
        </p>

        <a class="banner-btn" href="#">Iniciar</a>
        <a class="banner-btn2" href="#">Dowload</a>
      </div>

      <div class="col-lg-2">

        <div class="home-left-img">
          <img class="img-fluid" src="../assets/img/grafic.webp">
        </div>
      </div>
    </div>
  </section>


  <section class="work-item">
    <div class="container2">
      <div class="main-title">
        <h2>Como isso Funciona Para Você</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
      </div>
      <div class="work_inner ">
        <div class="col-lg-4">
          <div class="work_item">
            <i class="lnr lnr-screen"><img src="../assets/img/grafico-histograma.svg"></i>
            <a href="#">
              <h4>Stunning Visuals</h4>
            </a>
            <p>Here, I focus on a range of items and features that we use in life without giving them a second thought
              such as Coca Cola.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="work_item">
            <i class="lnr lnr-screen"><img src="../assets/img/dolar.svg"></i>
            <a href="#">
              <h4>Stunning Visuals</h4>
            </a>
            <p>Here, I focus on a range of items and features that we use in life without giving them a second thought
              such as Coca Cola.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="work_item">
            <div class="svg">
              <i class="lnr lnr-screen"><img src="../assets/img/despertador.svg"></i>
            </div>
            <a href="#">
              <h4>Stunning Visuals</h4>
            </a>
            <p>Here, I focus on a range of items and features that we use in life without giving them a second thought
              such as Coca Cola.</p>
          </div>
        </div>
      </div>
    </div>
  </section>


</body>
